/*heres some lovely css cos it probably wants that. will not be using it tho*/
.paragraph {
    font: "Kablammo", cursive;
    font-size: xx-large;
    align-self: flex-end;
    color: lawngreen;
    background-color: fuchsia;
}
